* {margin:0;padding:0;cursor:none;image-rendering:pixelated;}

body, html {background-color:#442434;overflow:hidden;}

.background {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}

.game {position:absolute;left:16px;top:16px;z-index:2;border:2px solid #442434;background-color:#140c1c;}
	.game:before {position:absolute;top:0;left:0;width:100%;height:100%;content:'';z-index:2;
		box-shadow:inset 0 2px 0 #140c1c, inset 0 -2px 0 #140c1c, inset -2px 0 0 #140c1c, inset 2px 0 0 #140c1c;}
canvas {background-color:transparent;position:absolute;overflow:hidden;display:none;width:100%;height:100%;}

.sidebar {position:absolute;top:28px;right:14px;z-index:2;}
	.nextRow {margin-top:12px;}
	.sidebarCount {float:right;}
		.sidebarCount img {position:relative;margin-top:-7px;margin-right:4px;}
	.versionNumber {position:absolute;bottom:8px;right:0;}
	.sidebarLogo {position:absolute;left:60%;width:60%;margin-left:-40%;margin-bottom:-40%;bottom:40%;}

.cssString {display:inline-block;}
	.cssString div {display:inline-block;position:relative;}
	.cssString span {position:absolute;top:0;left:0;background-image:url('img/font.png');}